<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Montant total de ventes</h5>
        <h6 class="card-subtitle mb-2 text-muted">150 000 €</h6>
        <p>Données factice pour tp</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Nombre de produits vendu</h5>
        <h6 class="card-subtitle mb-2 text-muted">25 000 ventes</h6>
        <p>Données factice pour tp</p>
    </div>
</div>