<table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th scope="col">ID</th>
        <th scope="col">Articles</th>
        <th scope="col">Montant total</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>5</td>
        <td>168 €</td>
        <td>15/02/2021</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th scope="row">2</th>
        <td>7</td>
        <td>211 €</td>
        <td>02/02/2021</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <th scope="row">3</th>
        <td>2</td>
        <td>42 €</td>
        <td>06/08/2021</td>
      </tr>
    </tbody>
  </table>