<div class="row my-5">
    <div class="col-sm-6">
      <img src="./assets/img/chartline.PNG" class="card-img-top" alt="graphique">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Graphique exemple 1</h5>
          <p class="card-text">Regardez moi ce graphique png.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="./assets/img/chartbar.PNG" class="card-img-top" alt="graphique">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Graphique exemple 2</h5>
          <p class="card-text">Regardez moi ce graphique png.</p>
        </div>
      </div>
    </div>
  </div>