<div class="my-5 text-center">
    <h1 class="display-3">Accueil Dashboard</h1>
    <p class="lead">Bienvenue sur le dashboard.</p>
    <hr class="my-4">
    <p>Vous pouvez voir les différentes statistique de ventes, commandes, etc... dans le menu à gauche.</p>
</div>

<div class="row row-col-3">
  <div class="card bg-light border" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Ventes</h5>
        <h6 class="card-subtitle mb-2 ">1 000 000 €</h6>
        <hr>
        <a routerLink="ventes">Direction ventes</a>
    </div>
  </div>
  <div class="card bg-light border" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Commandes</h5>
        <h6 class="card-subtitle mb-2 ">5000 commandes/mois</h6>
        <hr>
        <a routerLink="commandes">Direction commandes</a>
    </div>
  </div>
  <div class="card bg-light border" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Utilisateurs</h5>
        <h6 class="card-subtitle mb-2 ">9 568 utilisateurs enregistré</h6>
        <hr>
        <a routerLink="utilisateur">Direction utilisateurs</a>
    </div>
  </div>
  <div class="card bg-light border" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Paniers</h5>
        <h6 class="card-subtitle mb-2 ">50 paniers/J</h6>
        <hr>
        <a routerLink="paniers">Direction paniers</a>
    </div>
  </div>
</div>

