<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Ventes</h5>
        <h6 class="card-subtitle mb-2 text-muted">85%</h6>
        <p>Données factice pour tp</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Commandes</h5>
        <h6 class="card-subtitle mb-2 text-muted">-4%</h6>
        <p>Données factice pour tp</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Panier</h5>
        <h6 class="card-subtitle mb-2 text-muted">16%</h6>
        <p>Données factice pour tp</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Utilisateur</h5>
        <h6 class="card-subtitle mb-2 text-muted">10%</h6>
        <p>Données factice pour tp</p>
    </div>
</div>
